@charset "utf-8";

/* ▼　フォントサイズを変える場合は、下記のパーセンテージで指定しましょう ▼

   10px   =      77%
   11px   =      85%
   12px   =      93%
   13px   =     100%
   14px   =     108%
   15px   =     116%
   16px   =   123.1%
   17px   =     131%
   18px   =   138.5%
   19px   =   146.5%
   20px   =   153.9%
   21px   =   161.6%
   22px   =     167%
   23px   =     174%
   24px   =     182%
   25px   =     189%

   ▼　リセットCSS （基本データです。いじる時は注意しましょう）　▼ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


html {
   overflow-y: scroll;
   height: 100vh;
   color: silver;
   background: #000;
}

a img {
   border: none;
}

body {
   margin: 0;
   padding: 0;
   font: 13px/1.5 verdana, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  *font-size: small;
  *font: x-small;
   color: silver;
}

h1, h2, h3, h4, h5, h6 {
   font-size: 100%;
   font-weight: normal;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td,
header, footer, main, article, aside, section, figure {
   margin: 0;
   padding: 0;
}

main {
  display: block;
}

/*
figure {
  margin-bottom: 15px;
}
*/

select, input, button, textarea {
   font: 99% verdana, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  *font-size: 100%;
   color: silver;
   padding: 2px;
   background: #222;
   border: 1px solid #555;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
select:hover {
   border: 1px solid #4e95dc;
   background-color: #000;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
   color: #4e95dc;
}

table {
   border-collapse: collapse;
   border-spacing :0;
   font-size: inherit;
   font: 100%;
}

address, caption, cite, code, dfn, em, th, var {
   font-style: normal;
   font-weight: normal;
}

strong {font-weight: bold;}

pre, code, kbd, samp, tt {
   font-family: monospace;
  *font-size: 108%;
   line-height: 100%;
}

abbr, acronym {
   border: 0;
   font-variant: normal;
}

ol, ul {list-style-type: none;}

caption, th {text-align: left;}

fieldset, img {border: 0;}

legend {color: silver;}

sup {vertical-align: text-top;}

sub {vertical-align: text-bottom;}

q:before, q:after {content: '';}

a:link, a:visited {
   color: #4e95dc;
   text-decoration: none;
}

a:hover,
a:active {
   color: #95bfea;
   text-decoration: none;
}

a:hover,
a:active,
input:hover,
input:focus,
textarea:hover,
textarea:active,
button:hover,
select:hover,
a img:hover,
a:hover > img
{
   transition-property: all;
   transition-duration: 300ms;
   transition-delay: 0s;
   transition-timing-function: ease;
}

.clearfix {
   zoom:1;
}

.clearfix:after {
   content : "";
   display : block;
   clear : both;
}

.


/* レイアウト設定 --------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ▼　ヘッダー ▼ */
#ad {
  display: inline-block;
}


#headerimg {
   position: relative;
   height: 376px;
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 16px; /* FC2のヘッダ */
   /* margin: 0 auto; */

   background:
    url(https://blog-imgs-106-origin.fc2.com/e/i/r/eirblaze/title2-2.jpg)
    #59f no-repeat center center;
   background-size:cover;
}

#header {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background: #000;
   filter: Alpha(opacity=70);
   opacity:0.7;
}

#header h1 {
   font-size: 250%;
   font-weight: bold;
}

#header a {
   display: block;
   color: #fff;
   padding: 3px 10px;
}

#header a:hover {
  /* color: #4e95dc; */
  background-color: #192744;
}

/*
#header a h1:hover, #header a h1:active {
  color: #4e95dc;
  text-decoration: none;

  transition-property: all;
  transition-duration: 300ms;
  transition-delay: 0s;
  transition-timing-function: ease;
}
*/

#header p {
   font-size: 108%;
   margin-left: 5px;
}

/* ▼　メニュー ▼ */

#menu {
   margin: 16px auto;
   position: -webkit-sticky;
   position: sticky;
}

#menu ul {
   /*! padding: 3px 2px 3px 3px; */
   background: #111;
   border-top: 1px solid #333;
   border-bottom: 1px solid #333;
   border-left: 1px solid #333;
}

#menu li {
   position: relative;
   float: left;
   width: 16.6666%;
   text-align: center;
/*
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
*/

   /*! border-right: 1px solid #444; */
}

#menu li#last {
  width: 16.667%;
}

#menu li a {
   display: block;
   padding-top: 10px;
   padding-bottom: 10px;
   color: silver;
   border-right: 1px solid #444;
   white-space: nowrap;
}

/*
#menu li#last a {
  border-right: none;
}
*/

#menu li a:hover {
   color: #fff;
   font-weight: bold;
   background-color: #192744;
}

#menu li a:after {
   position: absolute;
   bottom: 0;
   left: 0;
	content: '';
	width: 0;
	transition: all 0.3s ease;
	border-bottom: 3px solid transparent;
	display: block;
}

#menu li a:hover:after {
	width: 100%;
	border-bottom: 3px solid #4e95dc;
}

#menu li a .linkname.en {
  display: inline-block;
  text-indent: 0;
}

#menu li a .linkname.jp {
  display: inline-block;
  text-indent: -9999px;
}

#menu li a:hover > .linkname.en {
  text-indent: -9999px;
}

#menu li a:hover > .linkname.jp {
  text-indent: 0;
}

@media screen and (max-width: 600px ) {
  #menu li a .linkname.en,
  #menu li a .linkname.jp {
   display: none;
 }
}

/* ▼　レイアウト ▼ */

@media screen and (min-width: 1284px ) {
  .outline {
    width: 1244px;
    margin-left: auto;
    margin-right: auto;
/*
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
*/
  }
}

@media screen and (max-width: 1283px ) {
  .outline {
    margin-left: 15px;
    margin-right: 15px;
/*
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
*/
  }
}

@media screen and (max-width: 1145px) and (min-width: 1000px){
  #blog-box {
    -js-display: flex;
    display: flex;
     margin-top: 0;
     margin-bottom: 0;

     text-align: left;
  }

  #main-box {
    order: 2;
    margin-left: 15px;
    margin-right: 15px;
  }

  #left-box {
    order: 1;
     width: 234px;
  }

  #right-box {
    order: 3;
     width: 234px;
  }
}

@media screen and (min-width: 1146px) {

  #blog-box {
    -js-display: flex;
    display: flex;
     /* width: 1230px; */
     /* margin: 0 auto; */
     margin-top: 0;
     margin-bottom: 0;

     text-align: left;
  }

  #main-box {
    order: 2;
    margin-left: 15px;
    margin-right: 15px;
     /* float: right; */
     /* width: 730px; */
     /* max-width: 730px; */
     /* margin-left: 250px; */
  }

  #left-box {
    order: 1;
     /* float: right; */
     width: 234px;
     /* margin-left: -980px; */
  }

  #right-box {
    order: 3;
     /* float: right; */
     width: 234px;
     /* margin-left: 16px; */
  }

}

/* ▼　メインボックス　▼ */

.main-box .main-section {
  width: auto;
  margin-bottom: 16px;
  padding: 0;
  background: #111;
  border: none;
}


/* ▼　カテゴリ　▼ */
.pageinfo-category a {
   display: block;
   padding: 5px 10px;
   color: #fff;
   background-color: #10273f;
}

.pageinfo-category a:hover {
   background-color: #15497b;
}

/* ▼　エントリー ▼ */

.entry-title {
   margin: 0;
   padding: 0;
   background: #333;
   border-bottom: 2px solid #4e95dc;
}

.entry-title-h {
  padding: 5px 10px;
  color: #fff;
  font-size: 116%;
  font-weight: bold;
}

.entry-title a {
 display: block;
 color: #fff;
 text-decoration: none;
}

.entry-title a:hover {
  color: #95bfea;
  background-color: #15497b;
}

.entry-body {
   width: auto;
   margin-bottom: 16px;
   font-size: 108%;
   background: rgba(16, 16, 16);
   background-position: center center;
   background-repeat: no-repeat;
}

.entry-body .bg-opacity {
  border: 1px solid #333;
  border-top: none;
  padding: 15px 15px 7px 15px;
  background: rgba(16, 16, 16, 0.75);
}

.entry-body a {
   text-decoration: underline;
}

.entry-body a:hover {
   text-decoration: underline;
}

.entry-body img {
   padding: 2px;
   background: #000;
   border: 2px solid #444;
}

.entry-body a img {border: 2px solid #4e95dc;}

.entry-body a:hover > img {border: 2px solid #95bfea;}

.open-more a {
   display: block;
   float: left;
   /* width: 339px; */
   width: 40%;
   color: silver;
   font-size: 93%;
   text-align: center;
   text-decoration: none;
   margin: 15px 16px 15px 0;
   padding: 2px 0;
   background: #222;
   border: 1px solid #444;
}

.read-more a {
   display: block;
   float: left;
   /* width: 339px; */
   width: 40%;
   color: silver;
   font-size: 93%;
   text-align: center;
   text-decoration: none;
   margin: 15px 0;
   padding: 2px 0;
   background: #222;
   border: 1px solid #444;
}

.read-more a:hover,
.open-more a:hover {
   text-decoration: none;
   border: 1px solid #4e95dc;
   background: #000;
}

.entry-footer {
   text-align: right;
   font-size: 85%;
   padding-top: 7px;
   border-top: 1px solid #333;
}

.fc2_footer {margin-top: 15px;}

/* 関連記事 */
.relate_dl {
   margin-top: 13px;
   padding: 0;
   border: double #444;
   background: #222;
}

.relate_dt {
   font-weight: bold;
   border-bottom: 1px solid #666;
   padding: 6px 12px;
}

.relate_dd {
  /* margin-top: 0; */
}

.relate_ul {
  /* padding-left: 5px; */
}

.relate_li {
  border-bottom: dotted 1px #666;
}

.relate_li:last-child {
  border-bottom: none;
}

.relate_li a {
  display: inline-block;
  width: 100%;
  padding: 6px 12px;
  text-decoration: none;
   /*
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
   */
}

.relate_li a:hover {
  background-color: #192744;
  text-decoration: none;
}

.entry-body blockquote {
   padding: 5px 10px;
   background: #222;
   border: 1px solid #444;
}

/* ▼　ソーシャルリンク ▼ */

.rn-social {
   height: 32px;
   padding-top: 5px;
}

.rn-social ul {margin-left: 15px;}

.rn-social li {
   float: left;
   margin-right: 15px;
   text-indent: -9999px;
}

.rn-social li a {
   display: block;
   width: 32px;
   height: 32px;
}

.rn-hatena {background: url(https://blog-imgs-43-origin.fc2.com/s/u/b/subculsheets/social.png) no-repeat 0 12px;}

.rn-hatena:hover {background: url(https://blog-imgs-43-origin.fc2.com/s/u/b/subculsheets/social.png) no-repeat 0 0;}

.rn-tweet {background: url(https://blog-imgs-43-origin.fc2.com/s/u/b/subculsheets/social.png) no-repeat -32px 12px;}

.rn-tweet:hover {background: url(https://blog-imgs-43-origin.fc2.com/s/u/b/subculsheets/social.png) no-repeat -32px 0;}

.rn-face {background: url(https://blog-imgs-43-origin.fc2.com/s/u/b/subculsheets/social.png) no-repeat -64px 12px;}

.rn-face:hover {background: url(https://blog-imgs-43-origin.fc2.com/s/u/b/subculsheets/social.png) no-repeat -64px 0;}

.rn-yahoo {background: url(https://blog-imgs-43-origin.fc2.com/s/u/b/subculsheets/social.png) no-repeat -96px 12px;}

.rn-yahoo:hover {background: url(https://blog-imgs-43-origin.fc2.com/s/u/b/subculsheets/social.png) no-repeat -96px 0;}

.rn-live {background: url(https://blog-imgs-43-origin.fc2.com/s/u/b/subculsheets/social.png) no-repeat -128px 12px;}

.rn-live:hover {background: url(https://blog-imgs-43-origin.fc2.com/s/u/b/subculsheets/social.png) no-repeat -128px 0;}

/* ▼　コメント＆トラックバック ▼ */

.com-meta {
   font-size: 93%;
   padding-bottom: 2px;
}

.com-meta span{
   font-size: 108%;
   font-weight: bold;
}

.com-meta a,
.com-meta a:hover {text-decoration: none;}

.com-body {
   margin-bottom: 16px;
   padding: 5px 10px;
   background: #222;
   border: 1px solid #444;
}

.tb {font-weight: bold;}

.tb-url {padding-bottom: 8px;}

.tb-url input {width: 350px;}

/* ▼　コメントフォーム ▼ */

.com-form {
   /* width: 500px; */
   /* margin-left: 186px; */
   margin-left: 15%;
   /* margin-right: 10px; */
   padding: 15px 0 9px 0;
}

.com-form dt {
   font-size: 93%;
}

.com-form dd input {
   width: 100%;
   font-size: 100%;
   margin-bottom: 5px;
   padding: 5px;
   border: 1px solid #555;
   background-color: #333;
/*
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
   */
}

.com-form dd textarea {
   width: 100%;
   height: 150px;
   font-size: 100%;
   margin-bottom: 5px;
   padding: 5px;
   border: 1px solid #555;
   background-color: #333;
/*
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   */
}

.com-form p input {
   width: 200px;
   font-size: 100%;
   /* margin-top: -12px; */
   border: 1px solid #444;
   background-color: #222;
}

.com-form p input:hover {
   color: #4e95dc;
   border: 1px solid #4e95dc;
   background-color: #000;
}

/* ▼　ページナビ ▼ */

#content-nav {
   color: #444;
   text-align: center;
   font-size: 116%;
   font-weight: bold;
   margin-bottom: 16px;
}

/* ▼　サイド ▼ */

.side-title {
   text-align: center;
   font-weight: bold;
   padding: 2px;
   background: #444;
}

.side-body {
   color: #888;
   margin-bottom: 16px;
   /* padding: 15px; */
   font-size: 100%;
   background: #222;
   border: 1px solid #444;
   border-top: none;
}

.side-body p {
  padding: 6px;
   /*
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
   */
}

.side-body ul {
  list-style-type: none;
}

.side-body ul li {
  margin: 0;
  border-bottom : dotted 1px;
}

.side-body ul li:last-child {
  border-bottom: none;
}

.side-body ul li a {
  display: inline-block;
  width: 100%;
  padding: 6px;
   /*
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
   */
}

.side-body ul li a:hover {
  background-color: #192744;
}

.side-body select,
.side-body input {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35px;
}

.side-body img {
   padding: 1px;
   border: 1px solid #555;
}

.side-body a img {border: 1px solid #4e95dc;}

.side-body a:hover > img {border: 1px solid #95bfea;}

/* ▼　プラグイン ▼ */

.fc2afb {
 margin-left: auto;
 margin-right: auto;
}

/*
.side-body li {
   list-style-type: disc;
   list-style-position: outside;
   margin: 0 0 3px 10px;
}
*/

/* .plugin-search input {margin-top: 5px;} */

.plugin-mail input {margin-top: 5px;}

table.calender {width: 100%;}

table.calender caption {
   font-weight: bold;
   text-align: center;
   padding-bottom: 5px;
}

table.calender th {text-align: center;}

table.calender th#sun {color: #cc0000;}

table.calender th#sat {color: #0033ff;}

table.calender td {
   text-align: center;
   background: #111;
   border: 3px solid #222;
}

table.calender td a {
   display: block;
   color: #fff;
   background: #4e95dc;
}

table.calender td a:hover {
   color: #fff;
   background: #95bfea;
}

/* ▼　スポンサー ▼ */

.ad_l_sample_block {
 width:100%;
 text-align:center;
 margin:0;
}

.ad_l_sample_block a {
 display: block;
}

.ad_l_sample_block a:hover {
    background-color: #192744;
}

@media screen and (min-width: 1200px) {

/*
.ad_l_sample_block figure {
 display: -webkit-flex;
 display: flex;
 -webkit-align-items: center;
 align-items: center;
 -webkit-justify-content: center;
 justify-content: center;
}
*/

 .ad_l_sample_block figure:after {
  content: "";
  display: block;
  clear: both;
 }

 .ad_l_sample_block img {
  display: block;
  float: left;
  width: auto;
 }
}


a.ad-r-fc2cm {
 display: block;
 padding-top: 6px;
 padding-bottom: 6px;
}

a.ad-r-fc2cm:hover {
 background-color: #192744;
}

.ad-r-fc2cm img {
 display: block;
 margin-left: auto;
 margin-right: auto;
}


.ad-r-fc2cm figcaption {
 text-align: center;
}

.ad-r-fc2cm ol {
 list-style: decimal;
 list-style-position: inside;
}

.ad-r-fc2cm ol li {
 text-indent: 10px;
}

/*
.ad_l_sample_block figcaption {
}
*/


/* ▼　フッター ▼ */

#footer {
   color: silver;
   text-align: center;
   /* margin: 0 auto; */
   margin-top: 0;
   margin-bottom: 0;

   padding: 15px 0 15px 0;
   border-top: 2px solid #4e95dc;
   background: #111;
}

.copy {
   font-size: 116%;
   padding: 0px 0 10px 0;
}

.copy a,
.copy a:hover {
   font-weight: bold;
   text-decoration: underline;
}

.fc2-pr {
   font-size: 85%;
   text-align: center;
}

.fc2-pr a {
   color: silver;
}

.fc2-pr a:hover {
   color: #4e95dc;
}

/* ↑ blog designed by HiRo 「http://subculsheets.blog.fc2.com/」 */

/* ↓ EB追記 */

/* トップへ戻る */
#back-to-top {
  position: fixed;
  bottom: 10%;
  right: 0;
  /*! width: 4%; */

  /* 縦書き */
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

#back-to-top .bg-opacity {
  opacity: 0.7;
}

#back-to-top a {
  display: block; /* div全体をリンクにするためにブロック化 */
  padding: 10px 8px; /* a要素内の余白 */

  border: 1px solid #fff;
  color:#fff;
  background-color: #37d;
}

 /* 以下マウスを載せたときのスタイル */
#back-to-top a:hover {
  background-color: #48e;
}

@media screen and (max-width: 424px) {
  #back-to-top {
    bottom: 4%;
  }

  #back-to-top .text {
    display: none;
  }
}
