
// ▼ リセットCSS （基本データです。いじる時は注意しましょう） ▼
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}

html {
  overflow-y: scroll;
  height: 100vh;
  color: silver;
  background: #000;
}

a img {
  border: none;
}

body {
  margin: 0;
  padding: 0;
  font: 13px/1.5 verdana, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  *font-size: small;
  *font: x-small;
  color: silver;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td,
header, footer, main, article, aside, section, figure {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

/*
figure {
  margin-bottom: 15px;
}
*/

select, input, button, textarea {
  font: 99% verdana, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  *font-size: 100%;
  color: silver;
  padding: 2px;
  background: #222;
  border: 1px solid #555;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
select:hover {
  border: 1px solid #4e95dc;
  background-color: #000;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  color: #4e95dc;
}

table {
  border-collapse: collapse;
  border-spacing :0;
  font-size: inherit;
  font: 100%;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal;
}

strong {font-weight: bold;}

pre, code, kbd, samp, tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

ol, ul {list-style-type: none;}

caption, th {text-align: left;}

fieldset, img {border: 0;}

legend {color: silver;}

sup {vertical-align: text-top;}

sub {vertical-align: text-bottom;}

q:before, q:after {content: '';}

a:link, a:visited {
  color: #4e95dc;
  text-decoration: none;
}

a:hover,
a:active {
  color: #95bfea;
  text-decoration: none;
}

a:hover,
a:active,
input:hover,
input:focus,
textarea:hover,
textarea:active,
button:hover,
select:hover,
a img:hover,
a:hover > img
{
  transition-property: all;
  transition-duration: 300ms;
  transition-delay: 0s;
  transition-timing-function: ease;
}

.clearfix {
  zoom:1;
}

.clearfix:after {
  content : "";
  display : block;
  clear : both;
}
